html {
  background-color: rgba(255,255,255,0.9);
}

body, .container-fluid {
  background-color: rgba(0,0,0,0);
}

hr {
  border-color: black;
}

.text-input {
  font-size: 16px;
}

select {
  background-color: white;
  color: black;
  width: 100%;
  height: 30px;
}

.logo img{
  max-width: 250px;
}

.logo {
  font-weight: bolder;
  text-align: center;
}

.output {
  color: black;
  font-size: 16px;
  letter-spacing: 2px;
  white-space: pre-wrap;
}

.heading {
  color: black;
  font-weight: normal;
}

.centered {
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  text-align: center;
}

.footer p {
  margin: 0;
}
